.price {
	width: 70px;
}

button {
	font-size: 16px;
}

.thname {
	width: 10%;
}

.thph {
	width: 10%;
}

.thadd {
	width: 45%;
}

.thruna {
	width: 15%;
}

.thbl {
	width: 20%;
}

.tditem {
	vertical-align: middle;
}

button {
	border: 0px;
	background: white;
}

.btnadd {
	color: blue;
}

.btndel {
	color: red;
}

@media ( max-width :992px) {
	.thname {
		width: 15%;
	}
	.thph {
		width: 10%;
	}
	.thadd {
		width: 30%;
	}
	.thruna {
		width: 15%;
	}
	.thbl {
		width: 30%;
	}
}

@media ( max-width : 650px) {
	.thadd {
		display: none;
	}
	.tdadd {
		display: none;
	}
	.thbl {
		width: 25%;
	}
}

@media ( max-width :414px) {
}