.mobile {
	display: none;
}

.mobile2 {
	display: none;
}

.price {
	font-weight: bold;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	color: #333;
	margin-top: 50px;
}

ul {
	list-style: none;
	display: flex;
	box-sizing: border-box;
}

li {
	display: flex;
	box-sizing: border-box;
}

table {
	border-top: 2px solid black;
}

td, th {
	border-bottom: 1px gray;
	border-top: 1px solid gray;
	padding: 10px;
}

label {
	margin-right: 50px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
}

img {
	width: 200px;
	height: 200px;
}

video {
	width: 200px;
	height: 150px;
}

.link {
	color: black;
}

.link-item {
	margin-right: 10px;
}

@font-face {
	font-family: 'Basic';
	src:
		url('/font/Pby6FmXiEBPT4ITbgNA5CgmOsn7tqoAetwxcvEcQNuukkRBBEIyMcFQ.0.ttf')
		format('truetype');
}

textarea {
	font-size:16px;
}

body {
	font-family: 'Basic', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	margin: 0px;
	font-weight: 400;
	line-height: 1.5;
}

div {
	box-sizing: border-box;
}

.center {
	text-align: center;
	width: 1080px;
	margin: auto;
}

input {
	box-sizing: border-box;
	padding: 6px 12px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #ced4da;
}

button {
	font-size: 18px;
}

button:not(:disabled) {
	cursor: pointer;
}

input[readonly] {
	background-color: #e9ecef;
	opacity: 1;
}

.main {
	margin: 100px 0px;
}

.danger {
	color: #842029;
	background-color: #f8d7da;
	border-color: #f5c2c7;
	padding: 16px;
	border-radius: 5px;
	text-align: left;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.secondary {
	background: #6C757D;
	padding: 10px;
	border-radius: 5px;
	color: white;
}

.success {
	background: #198754;
	padding: 10px;
	border-radius: 5px;
	color: white;
}

.previous {
	border: 1px solid black;
	padding: 5px;
	background: #dadada;
	margin-right: 10px;
}

.next {
	border: 1px solid black;
	padding: 5px;
	background: #dadada;
}

@media ( max-width :992px) {
	.computer {
		display: none;
	}
	.mobile {
		display: block;
	}
	.center {
		width: 90%;
		margin: auto;
	}
}

@media ( max-width :550px) {
	.mobile {
		display: none;
	}
	.mobile2 {
		display: block;
	}
}