.table {
	padding-top: 50px;
}

table {
	width: 960px;
}

.products {
	width: 350px;
}

.price { 150px;
	
}

.count {
	width: 80px;
}

.money {
	width: 150px;
}

.other {
	width: 100px;
}

.btndanger {
	float: left;
	background: #DC3545;
	padding: 10px;
	border-radius: 5px;
	color: white;
}

.image {
	display: flex;
}

.item {
	width: 100px;
	height: 100px;
	margin: 10px;
}

.size {
	width: 100px;
	height: 100px;
}

.text {
	margin: auto;
}

.tditem {
	vertical-align: middle;
}

.delete {
	color: red;
	font-weight: bold;
	font-size: 15px;
}

.delete:hover {
	color: red;
}

.tdmoney {
	padding-top: 50px;
	font-weight: bold;
}

.tdruna {
	padding-top: 45px;
}