.table {
	padding-top: 50px;
}

table {
	width: 960px;
}

.products {
	width: 40%;
}

.prices {
	width: 15%;
}

.count {
	width: 15%;
}

.money {
	width: 15%;
}

.other {
	width: 15%;
}

.btndanger {
	float: left;
	background: #DC3545;
	padding: 10px;
	border-radius: 5px;
	color: white;
}

.image {
	display: flex;
}

.item {
	width: 100px;
	height: 100px;
	margin: 10px;
}

.size {
	width: 100px;
	height: 100px;
}

.text {
	margin: auto;
}

.tditem {
	vertical-align: middle;
}

.delete {
	color: red;
	font-weight: bold;
	font-size: 15px;
}

.delete:hover {
	color: red;
}

.tdmoney {
	font-weight: bold;
}

@media ( max-width :992px) {
	table {
		width: 100%;
	}
	.image {
		display: inline-block;
	}
	.product {
		width: 40%;
	}
	.prices {
		width: 20%;
	}
	.count {
		width: 10%;
	}
	.money {
		width: 20%;
	}
	.other {
		width: 10%;
	}
}

@media ( max-width :605px) {
	.product {
		width: 30%;
	}
	.prices {
		width: 22%;
	}
	.count {
		width: 15%;
	}
	.money {
		width: 22%;
	}
	.other {
		width: 16%;
	}
}

@media ( max-width :550px) {
	.prices {
		width: 20%;
	}
	.count {
		width: 15%;
	}
	.money {
		width: 20%;
	}
	.other {
		width: 15%;
	}
	th {
		padding: 10px 0px;
	}
	.item {
		width: 60px;
		height: 60px;
	}
	
	.size {
		width: 60px;
		height: 60px;
	}
}

@media(max-width:420px) {
	.product {
		width: 20%;
	}
	.count {
		width: 20%;
	}
	.other {
		width: 20%;
	}
}