.runamall {
	text-align: center;
	font-size: 50px;
	background: #ffc723;
	padding: 20px;
}

.nav1 {
	flex-wrap: nowrap;
	justify-content: flex-start;
	background-color: #ffc723;
}

.navbar {
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: auto;
}

.nav {
	position: relative;
}

.nav-ul {
	flex-direction: row;
}

li {
	margin-right: 20px;
}

.nav-a:hover {
	background: blue;
	padding: 5px;
	border-radius: 5px;
}

.vip {
	margin:0px;
	background:#764529;
	color: white;
	border-radius:5px;
	padding: 5px;
	padding-right:10px;
	padding-left:10px;
	font-size:12px;
	width:50px;
}

.VIP {
	margin:0px;
	background:#4FCB8B;
	color: white;
	border-radius:5px;
	padding: 5px;
	padding-right:10px;
	padding-left:10px;
	font-size:12px;
	width:50px;
}

.VVIP {
	margin:0px;
	background:#C1D6EC;
	color: white;
	border-radius:5px;
	padding: 5px;
	padding-right:10px;
	padding-left:10px;
	font-size:12px;
	width:50px;
}

@media ( max-width :550px) {
	.nav-ul {
		margin: 0px;
		justify-content: end;
		padding: 10px;
	}
	.navbar {
		justify-content: end;
	}
	.navbar2 {
		justify-content: normal;
	}
	li {
		margin-right: 10px;
	}
	.nav-a {
		font-size: 14px;
	}
}

@media(max-width:420px) {
	.nav-a {
		font-size: 12px;
	}
}