.main {
	margin: 150px auto;
}

.form {
	width: 80%;
	margin: auto;
	text-align: left;
}

.form-group {
	margin-bottom: 10px;
}

.form-control {
	width: 80%;
	height: 40px;
}

#address {
	margin-left: 32px;
}

table {
	text-align: center;
	width: 100%;
}

.th1 {
	width: 45%;
}

.th2 {
	width: 20%;
}

.th3 {
	width: 15%;
}

.th4 {
	width: 20%;
}

.tditem {
	vertical-align: middle;
}

.success {
	padding: 5px;
	border: 2px solid black;
}

@media ( max-width :992px) {
	#address {
		margin-left: 0px;
	}
	.form-control {
		width: 100%;
	}
	.th1 {
		width: 30%;
	}
	.th2 {
		width: 25%;
	}
	.th3 {
		width: 20%;
	}
	.th4 {
		width: 25%;
	}
}

@media ( max-width :600px) {
	.th1 {
		width: 25%;
	}
	.th2 {
		width: 30%;
	}
	.th3 {
		width: 15%;
	}
	.th4 {
		width: 30%;
	}
}

@media ( max-width :550px) {
	.th1 {
		width: 40%;
	}
	.th2 {
		width: 20%;
	}
	.th3 {
		width: 20%;
	}
	.th4 {
		width: 20%;
	}
}

@media ( max-width :414px) {
	.th1 {
		width: 30%;
	}
	.th2 {
		width: 20%;
	}
	.th3 {
		width: 30%;
	}
	.th4 {
		width: 20%;
	}
}