.orderD {
	width: 10%;
}

.name {
	width: 8%;
}

.tel {
	width: 8%;
}

.add {
	width: 25%;
}

.orderL {
	width: 25%;
}

.inquire {
	width: 6%;
}

.runa {
	width: 8%;
}

.other {
	width: 10%;
}

.table {
	padding-top: 50px;
}

.center {
	width: 90%;
}

.searchId {
	text-align: right;
}

.ltd {
	vertical-align: middle;
}

.state {
	margin-bottom: 10px;
}

.click {
	color: blue;
}

.click:hover {
	color: black;
}

.deliver {
	margin-top: 10px;
	margin-bottom: 0px;
}

table {
	width:100%;
}

@media ( max-width :992px) {
	.orderD {
		width: 20%;
	}
	.name {
		width: 10%;
	}
	.orderL {
		width: 25%;
	}
	.inquire {
		width: 10%;
	}
	.runa {
		width: 15%;
	}
	.other {
		width: 20%;
	}
}

@media ( max-width :630px) {
	.orderL {
		width: 15%;
	}
	.inquire {
		width: 15%;
	}
	.runa {
		width: 20%;
	}
}

@media ( max-width :550px) {
	.name {
		padding: 10px 0px;
		width: 15%;
	}
	.orderL {
		padding: 10px 0px;
		width: 20%;
	}
	.runa {
		padding: 10px 0px;
		width: 25%;
	}
	.other {
		padding: 10px 0px;
		width: 25%;
	}
}

@media ( max-width :420px) {
	.name {
		width: 20%;
	}
	.orderL {
		padding: 10px 0px;
		width: 20%;
	}
	.runa {
		width: 20%;
	}
	.state a {
		font-size: 14px;
	}
}