form {
	width:100%;
}

.block {
	width: 50%;
	margin: auto;
	text-align: left;
}

.form-group {
	margin-bottom: 10px;
}

.form-control {
	width: 100%;
	height: 40px;
}

.btn {
	text-align: right;
}

button {
	padding: 5px 20px;
}

.center {
	margin-bottom: 50px;
}

@media ( max-width :992px) {
	.block {
		width: 80%;
	}

}