.name {
	width:100px;
}

.id {
	width:150px;
}

.tel {
	width:150px;
}

.add {
	width:500px;
}

.other {
	width:150px;
}

.table {
	padding-top:50px;
}

.tditem {
	vertical-align:middle;
}

.tdupdate {
	color:blue;
	font-size:15px;
	font-weight:bold;
	padding: 0.35em 0.65em;
}

.tddelete {
	color:red;
	font-size:15px;
	font-weight:bold;
	padding: 0.35em 0.65em;
}

.btnse {
	text-align:left;
}