<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<body>
	<th:block layout:fragment="content">
		<link rel="stylesheet" type="text/css" href="/css/addRuna.css">
		<div class="main computer">
			<div class="center">
				<h1>루나 현황</h1>
			</div>
			<br> <br>
			<div class="center">
				<div>
					<div th:if="${ErrorMsg}" class="danger" th:text="${ErrorMsg}"></div>
					<table>
						<tr>
							<th class="thname">이름</th>
							<th class="thph">전화번호</th>
							<th class="thadd">주소</th>
							<th class="thruna">루나</th>
							<th class="thbl">비고</th>
						</tr>
						<tr th:each="user : ${userList}">
							<td>
								<p th:text="${user['username']}"></p>
							</td>
							<td class="tditem"><span th:text="${user['phone']}"></span></td>
							<td class="tditem"><span th:text="${user['address']}"></span></td>
							<td class="tditem"><span th:text="${user['money']}"></span>
								<span> 루나</span>
							<td>
								<form th:action="@{/addRuna(pageNumber=1)}" method="post">
									<input class="price" type="text" name="money" size="5" value=0>
									<input type="hidden" name="userId" th:value="${user['userId']}">
									<input type="hidden" name="phone" th:value="${user['phone']}">
									<input type="hidden" name="address" th:value="${user['address']}">
									<span>루나</span>
									<button class="btnadd">추가</button>
								</form>
								<form th:action="@{/minRuna(pageNumber=1)}" method="post">
									<input class="price" type="text" name="money" size="5" value=0>
									<input type="hidden" name="userId" th:value="${user['userId']}">
									<input type="hidden" name="phone" th:value="${user['phone']}">
									<input type="hidden" name="address" th:value="${user['address']}">
									<span>루나</span>
									<button class="btndel">삭제</button>
								</form>
							</td>
						</tr>
					</table>
					<hr>
					<div class="right">
						<a th:if="${currentPage > 1}"
							th:href="@{/addRuna(pageNumber=${currentPage - 1})}"
							class="previous">Previous</a> <a
							th:if="${currentPage < totalPages}"
							th:href="@{/addRuna(pageNumber=${currentPage + 1})}" class="next">Next</a>
					</div>
					<br>
					<div class="left">
						<a th:href="@{/runa/main?category=}" class="secondary">
							&laquo; 메인 페이지로</a>
					</div>
				</div>
			</div>
		</div>
		<div class="main mobile">
			<div class="center">
				<h1>루나 현황</h1>
			</div>
			<br> <br>
			<div class="center">
				<div>
					<div th:if="${ErrorMsg}" class="danger" th:text="${ErrorMsg}"></div>
					<table>
						<tr>
							<th class="thname">이름</th>
							<th class="thph">전화번호</th>
							<th class="thadd">주소</th>
							<th class="thruna">루나</th>
							<th class="thbl">비고</th>
						</tr>
						<tr th:each="user : ${userList}">
							<td>
								<p th:text="${user['username']}"></p>
							</td>
							<td class="tditem"><span th:text="${user['phone']}"></span></td>
							<td class="tditem tdadd"><span th:text="${user['address']}"></span></td>
							<td class="tditem"><span th:text="${user['money']}"></span>
							<td>
								<form th:action="@{/addRuna(pageNumber=1)}" method="post">
									<input class="price" type="text" name="money" size="5" value=0>
									<input type="hidden" name="userId" th:value="${user['userId']}">
									<button class="btnadd">추가</button>
								</form>
								<form th:action="@{/minRuna(pageNumber=1)}" method="post">
									<input class="price" type="text" name="money" size="5" value=0>
									<input type="hidden" name="userId" th:value="${user['userId']}">
									<button class="btndel">삭제</button>
								</form>
							</td>
						</tr>
					</table>
					<hr>
					<div class="right">
						<a th:if="${currentPage > 1}"
							th:href="@{/addRuna(pageNumber=${currentPage - 1})}"
							class="previous">Previous</a> <a
							th:if="${currentPage < totalPages}"
							th:href="@{/addRuna(pageNumber=${currentPage + 1})}" class="next">Next</a>
					</div>
					<br>
					<div class="left">
						<a th:href="@{/runa/main?category=}" class="secondary">
							&laquo; 메인 페이지로</a>
					</div>
				</div>
			</div>
		</div>
		<div class="main mobile2">
			<div class="center">
				<h1>루나 현황</h1>
			</div>
			<br> <br>
			<div class="center">
				<div>
					<div th:if="${ErrorMsg}" class="danger" th:text="${ErrorMsg}"></div>
					<table>
						<tr>
							<th class="thname">이름</th>
							<th class="thruna">루나</th>
							<th class="thbl">비고</th>
						</tr>
						<tr th:each="user : ${userList}">
							<td>
								<p th:text="${user['username']}"></p>
							</td>
							<td class="tditem"><span th:text="${user['money']}"></span>
							<td>
								<form th:action="@{/addRuna(pageNumber=1)}" method="post">
									<input class="price" type="text" name="money" size="5" value=0>
									<input type="hidden" name="userId" th:value="${user['userId']}">
									<button class="btnadd">추가</button>
								</form>
								<form th:action="@{/minRuna(pageNumber=1)}" method="post">
									<input class="price" type="text" name="money" size="5" value=0>
									<input type="hidden" name="userId" th:value="${user['userId']}">
									<button class="btndel">삭제</button>
								</form>
							</td>
						</tr>
					</table>
					<hr>
					<div class="right">
						<a th:if="${currentPage > 1}"
							th:href="@{/addRuna(pageNumber=${currentPage - 1})}"
							class="previous">Previous</a> <a
							th:if="${currentPage < totalPages}"
							th:href="@{/addRuna(pageNumber=${currentPage + 1})}" class="next">Next</a>
					</div>
					<br>
					<div class="left">
						<a th:href="@{/runa/main?category=}" class="secondary">
							&laquo; 메인 페이지로</a>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>

</html>