<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<head>
<title>장바구니</title>
</head>
<body>
<th:block layout:fragment="content">
	<div class="jumbotron">
		<div class="container" style="text-align:center">
			<h1 class="display-3">장바구니</h1>
		</div>
	</div>
	<br><br>
	<div class="container" style="width:720px;">
		<div th:if="${loginErrorMsg}" class="alert alert-danger"
							th:text="${loginErrorMsg}"></div>
		<div>
			<a th:href="@{/cart/deleteAll(userId=${user.userId})}"
				class="btn btn-danger" style="float:left;">모두 삭제하기</a>
		</div>
		<div style="padding-top: 50px">
			<table style="text-align:center">
				<tr>
					<th style="width:350px;">상품</th>
					<th style="width:150px;">가격</th>
					<th style="width:80px;">수량</th>
					<th style="width:150px;">금액</th>
					<th style="width:100px;">비고</th>
				</tr>
				<tr th:each="cartItem : ${cartItems}">
					<td>
						<div style="float:left;">
							<img th:src="'data:image/png;base64,' + ${cartItem.fileName}" alt="Product Image" style="margin:10px;width:100px;height:100px;"/>
						</div>
						<div >
						<p th:text="${cartItem['s_name']}" style="padding-top:20px;"></p>

						<p th:text="${cartItem['s_description']}" style="text-align:left;font-size:15px" class="description"></p>

						</div>
					</td>
					<td style="vertical-align: middle;">
						<span th:text="${cartItem['s_price']}"></span>
						<span>루나</span>
					</td>
					<td style="vertical-align: middle;">
						<span th:text="${cartItem['count']}" style="color:black"></span>
						<span style="color:black">개</span>
					</td>
					<td style="vertical-align: middle;">
						<span th:text="${cartItem['cost']}"></span>
						<span>루나</span>
					</td>
					<td style="vertical-align: middle;">
					<a th:href="@{/cart/delete(userId=${user.userId}, name=${cartItem['s_name']})}"
						class="badge badge-danger" style="text-decoration:none; color:red; font-size:15px;">삭제</a>
					</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td style="padding-top: 50px;font-weight:bold">총액</td>
					<td style="padding-top: 45px;">
						<span th:text="${total?.total}"></span>
						<span>루나</span>
					</td>
					<td></td>
				</tr>
			</table>
			<br>
			<a th:href="@{/runa/main}" class="btn btn-secondary">
				&laquo; 쇼핑 계속하기</a>
				
			<div style="text-align: right;">
				<a th:href="@{/cart/order(userId=${user.userId})}"
					class="btn btn-success" >주문하기
				</a>
			</div>
		</div>
	</div>
</th:block>
</body>

</html>