<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<head>
<title>물품 삭제</title>
<script type="text/javascript">
	function deleteToCart() {
		if (confirm("물품을 삭제하시겠습니까?")) {
			document.deleteForm.submit();
		} else {
			document.deleteForm.reset();
		}
	}
</script>
</head>

<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div style="margin-left:30px;margin-top:30px;margin-bottom:20px;font-weight:bold;font-size:30px;">전체 상품</div>
			<div style="background-color:#d3d3d3;">
				<div th:each="row : ${rs}"
					style="display: inline-block; margin: 30px; text-align:center;">
					<p>
						<img th:src="'/image/' + ${row['s_fileName']}" style="width: 100%">
					</p>
					<h5 th:text="${row['s_name']}" style="text-align:center;"></h5>
					<span th:text="${row['s_price']}"></span>루나
					<form name="deleteForm" th:action="@{/delete}" method="post"  style="margin-top:5px;">
						<input type="hidden" name="name" th:value="${row['s_name']}" />
						<button class="btn btn-danger" onclick="deleteToCart()"
							style="border-radius: 20px;">물품 삭제 &raquo;</button>
					</form>
					<br>
				</div>
			</div>
		</div>
		<div class="container" style="text-align: right;">
			<a href="/cart?userId=user" class="btn btn-warning"> 장바구니
				&raquo;</a>
		</div>
		<hr>
	</th:block>
</body>
</html>

