<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<head>
<script type="text/javascript">
	function addProduct() {
		if (confirm("물품을 추가하시겠습니까?")) {
			document.addProduct.submit();
		} else {
			document.addProduct.reset();
		}
	}
</script>
</head>
<body>
	<th:block layout:fragment="content">
		<link rel="stylesheet" type="text/css" href="/css/insertProduct.css">
		<div class="main">
			<div class="center">
				<h1>물품 등록</h1>
			</div>
			<br> <br>
			<div class="center">
				<div class="left">
					<div th:if="${duplicateWarning}" class="danger">중복된 물품명이
						있습니다.</div>
					<div th:if="${loginErrorMsg}" class="danger"
						th:text="${loginErrorMsg}"></div>
					<form name="addProduct" th:action="@{/runa/insertProduct}"
						method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label>종류</label> <select id="select" name="category">
								<option value="전자">전자/기기</option>
								<option value="생활가전">생활가전</option>
								<option value="식음료">식음료</option>
								<option value="운동">운동</option>
								<option value="여가문화">여가문화</option>
								<option value="업무">업무</option>
								<option value="VVIP">VVIP</option>
							</select>
						</div>
						<br> <br>
						<div class="form-group">
							<label>물품명</label> <input type="text" id="name" name="name"
								class="form-control">
						</div>
						<br> <br>
						<div class="form-group">
							<label>가격</label> <input type="text" name="price"
								class="form-control" value=0>
						</div>
						<br> <br>
						<div class="form-group">
							<label>참고 주소</label> <input type="text" name="description"
								class="form-control">
						</div>
						<br> <br>
						<div class="form-gruop">
							<label>이미지</label> <input type="file" name="fileData"
								class="form-control">
						</div>
						<br> <br>
						<div class="right">
							<button onclick="addProduct()">물품 등록 &raquo;</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>