<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<head>
<title>물품 등록</title>
<script type="text/javascript">
	function addProduct() {
		if (confirm("물품을 추가하시겠습니까?")) {
			document.addProduct.submit();
		} else {
			document.addProduct.reset();
		}
	}
</script>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="jumbotron">
			<div class="container" style="text-align:center">
				<h1 class="display-3">물품 등록</h1>
			</div>
		</div>
		<br><br>
		<div class="container" style="width:720px">
			<div th:if="${duplicateWarning}" class="alert alert-danger">
				중복된 물품명이 있습니다.
			</div>
			<div th:if="${loginErrorMsg}" class="alert alert-danger"
							th:text="${loginErrorMsg}"></div>
			<form name="addProduct" th:action="@{/runa/insertProduct}"
				class="form-horizontal" method="post" enctype="multipart/form-data">
				<div class="form-group row">
					<label class="col-sm-2">물품명</label>
					<div class="col-sm-3">
						<input type="text" id="name" name="name" class="form-control">
					</div>
				</div>
				<br><br>
				<div class="form-group row">
					<label class="col-sm-2">가격</label>
					<div class="col-sm-3">
						<input type="text" name="price" class="form-control" value=0>
					</div>
				</div>
				<br><br>
				<div class="form-group row">
					<label class="col-sm-2">물품 설명</label>
					<div class="col-sm-3">
						<textarea name="description" class="form-control"></textarea>
					</div>
				</div>
				<br><br>
				<div class="form-gruop row">
					<label class="col-sm-2">이미지</label>
					<div class="col-sm-5">
						<input type="file" name="fileData" class="form-control">
					</div>
				</div>
				<br><br>
				<div class="form-group row">
					<div class="col-sm-offset-2 col-sm-10">
						<button onclick="addProduct()"
							style="padding: 10px; padding-left: 30px; padding-right: 30px">물품 등록 &raquo;</button>
					</div>
				</div>
			</form>
		</div>
	</th:block>
</body>
</html>