<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<head>
<title>주문 완료</title>
<body>
	<th:block layout:fragment="content">
	<link rel="stylesheet" type="text/css" href="/css/orderComplete.css">
		<div class="main">
			<div class="center">
				<h1 class="left">주문 완료</h1>
			</div>

			<div class="center">
				<h2 class="danger">주문해주셔서 감사합니다.</h2>
			</div>
			<div class="center">
				<p class="left">
					<a th:href="@{/runa/main?category=}" class="secondary">&laquo;
						메인으로</a>
				</p>
			</div>
		</div>
	</th:block>
</body>