<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<head>
<title>물품 수정</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="jumbotron">
			<div class="container" style="text-align:center">
				<h1 class="display-3">물품 수정</h1>
			</div>
		</div>
		<br><br>
		<div class="container" style="width:720px;">
			<form name="updateProduct" th:action="@{/updateProduct(name=${p?.s_name})}"
				class="form-horizontal" method="post" enctype="multipart/form-data">
				<div class="form-group row">
					<label class="col-sm-2">물품명</label>
					<div class="col-sm-3">
						<input type="text" id="sname" name="sname" class="form-control" th:value="${p?.s_name}" readonly>
					</div>
				</div>
				<br><br>
				<div class="form-group row">
					<label class="col-sm-2" >가격</label>
					<div class="col-sm-3">
						<input type="text" name="price" class="form-control" th:value="${p?.s_price}">
					</div>
				</div>
				<br><br>
				<div class="form-group row">
					<label class="col-sm-2">물품 설명</label>
					<div class="col-sm-3">
						<textarea name="description" class="form-control"></textarea>
					</div>
				</div>
				<br><br>
				<div class="form-gruop row">
					<label class="col-sm-2" >이미지</label>
					<div class="col-sm-5">
						<input type="file" name="fileData" class="form-control">
					</div>
				</div>
				<br><br>
				<div class="form-group row">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-info"
							style="border-radius: 20px;">물품 수정 &raquo;</button>
					</div>
				</div>
			</form>
		</div>
	</th:block>
</body>
</html>