<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<body>
	<th:block layout:fragment="content">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/update.css">
		<div class="main">
			<div class="center">
				<div class="Pupdate">물품 수정</div>
				<br>
				<ul class="menu-ul">
					<li class="menu-li"><a class="tab"
						th:href="@{/runa/update(category=전자)}"><span>전자/기기</span></a> <a
						class="tab" th:href="@{/runa/update(category=생활가전)}"><span
							th:text="생활가전"></span></a> <a class="tab"
						th:href="@{/runa/update(category=식음료)}"><span th:text="식음료"></span></a>
						<a class="tab" th:href="@{/runa/update(category=운동)}"><span
							th:text="운동"></span></a> <a class="tab"
						th:href="@{/runa/update(category=여가문화)}"><span th:text="여가문화"></span></a>
						<a class="tab" th:href="@{/runa/update(category=여행)}"><span
							th:text="여행"></span></a> <a class="tab"
						th:href="@{/runa/update(category=업무)}"><span th:text="업무"></span></a>
						<a class="tab" th:href="@{/runa/update(category=루나몰자체제작)}"><span
							th:text="루나몰자체제작"></span></a> <a class="tab"
						th:href="@{/runa/update(category=VVIP)}"><span th:text="VVIP"></span></a>
						<a class="tab" th:href="@{/runa/update(category=웰컴키트)}"><span
							th:text="웰컴키트"></span></a></li>
				</ul>
				<hr>
				<div>
					<div th:each="row : ${rs}" class="products">
						<p>
							<img th:src="'data:image/png;base64,' + ${row.s_fileName}"
								alt="Product Image" />
						</p>
						<div class="pname">
							<p th:text="${row['s_name']}"></p>
						</div>
						<br> <span th:if="${row['s_price']} == 0">가격문의</span> <span
							th:unless="${row['s_price']} == 0" th:text="${row['s_price']}"
							class="price"></span><span th:unless="${row['s_price']} == 0">
							루나</span> <br> <br> <br> <input type="hidden" name="name"
							th:value="${row['s_name']}" /> <a
							th:href="@{/runa/updateProduct(name=${row['s_name']})}"
							class="btn-cart">물품 수정 &raquo;</a> <br> <br> <br>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>

