<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<body>
<th:block layout:fragment="content">
	<div class="jumbotron">
		<div class="container" style="text-align:center">
			<h1 class="display-3">회원목록</h1>
		</div>
	</div>
	<br><br>
	<div class="container" style="width:960px">
		<div style="padding-top: 50px;">
			<table style="text-align:center">
				<tr>
					<th style="width:100px;text-align:center">이름</th>
					<th style="width:150px;">아이디</th>
					<th style="width:150px;">전화번호</th>
					<th style="width:500px;">주소</th>
					<th style="width:150px;">비고</th>
				</tr>
				<tr th:each="user : ${userList}">
					<td>
						<p th:text="${user['username']}" style="padding-top:20px;"></p>
					</td>
					<td style="vertical-align: middle;">
						<span th:text="${user['userId']}"></span>
					</td>
					<td style="vertical-align: middle;">
						<span th:text="${user['phone']}"></span>
					</td>
					<td style="vertical-align: middle;">
						<span th:text="${user['address']}"></span>
					<td>
					<a th:href="@{/updateUser(userId=${user.userId})}"
						class="badge badge-danger" style="color:blue; font-size:15px;">수정</a>
					<a th:href="@{/delete(userId=${user.userId}, pageNumber=1)}"
						class="badge badge-danger" style="color:red; font-size:15px;">삭제</a>
					</td>
				</tr>
			</table>
			<hr>
			<div style="text-align:right">
		        <a th:if="${currentPage > 1}" th:href="@{/userList(pageNumber=${currentPage - 1})}" style="border:1px solid black;padding:5px;background:#dadada;margin-right:10px;">Previous</a>
		        <a th:if="${currentPage < totalPages}" th:href="@{/userList(pageNumber=${currentPage + 1})}" style="border:1px solid black;padding:5px;background:#dadada">Next</a>
		    </div>
			<br>
			<a th:href="@{/runa/main?category=}" class="btn btn-secondary">
				&laquo; 메인 페이지로</a>
				
		</div>
	</div>
</th:block>
</body>

</html>