<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.LoginMapper">
	<select id="loginCom" resultType="com.example.domain.User">
		select * from user where userId = #{userId} and password = #{password} 
	</select>
	
	<select id="loginSearch" resultType="com.example.domain.User">
		select * from user where userId = #{userId}
	</select>
	
	<insert id="newLogin">
		insert into user (userId, password, username, phone, address) values(#{userId}, #{password}, #{username}, #{phone}, #{address})
	</insert>

</mapper>