<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.LoginMapper">
	<select id="loginCom" resultType="com.example.domain.User">
		select * from user where userId = #{userId} and password = #{password} 
	</select>
	
	<select id="loginSearch" resultType="com.example.domain.User">
		select * from user where userId = #{userId}
	</select>
	
	<insert id="newLogin">
		insert into user (userId, password, username, phone, address) values(#{userId}, #{password}, #{username}, #{phone}, #{address})
	</insert>
	
	<select id="userList" resultType="com.example.domain.User">
		select * from user where id <![CDATA[<>]]> 1
	</select>
	
	<update id="updateUser">
		update user set userId = #{userId}, password = #{password}, phone = #{phone}, address = #{address} where username = #{username}
	</update>
	
	<update id="deleteUser">
		delete from user where userId = #{userId}
	</update>
	
	<update id="addRuna">
		update user set money = #{money} where userId = #{userId}
	</update>

</mapper>