<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ProductMapper">
    
    <select id="productAll" resultType="com.example.domain.Product">
    	select * from products
    </select>
    
    <select id="productName" resultType="com.example.domain.Product">
    	select * from products where s_name = #{name}
    </select>
    
    <select id="productCategory" resultType="com.example.domain.Product">
    	select * from products where s_category = #{category}
    </select>
    
    <insert id="insertProduct">
    	insert into products(s_category, s_name, s_price, s_description, s_fileName) values(#{category}, #{name}, #{price},#{description}, #{fileName})
    </insert>
    
    <update id="updateProduct">
    	update products set s_category = #{category}, s_name = #{name}, s_description = #{description}, s_price = #{price}, s_fileName = #{fileName} where s_name = #{s_name} ;
    </update>
    
    <delete id="deleteProduct">
    	delete from products where s_name = #{name}
    </delete>
    
    <select id="checkDuplicateProductName" resultType="java.lang.Integer">
    	select COUNT(*) from products where s_name = #{name}
    </select>
    
    
</mapper>